<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="container">
        {{>_header }}
        <p>
            This site was created by Kater, Akeren. It uses data from the
            <a href="http://mapbox.com" target="_new">mapbox.com</a> and <a href="http://darksky.net"
                target="_new">darksky.net</a>
        </p>
        <img class="me-img" src="/img/me.png" />
    </div>
    {{>_footer }}
</body>

</html>
