<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
    <link rel="shortcut icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="container">
        {{>_header}}
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam adipisci ipsam, cumque sed velit repellat
            maiores, eius reiciendis quas nulla sunt debitis et, fuga modi veritatis consectetur? Exercitationem, dicta
            aperiam.
        </p>
    </div>
    {{>_footer }}

    <script type="text/javascript" src="/js/app.js"></script>
</body>

</html>
