<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
    <link rel="shortcut icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="container">
        {{>_header}}
        <p class="contacts">
            You can fork the repository and send pull request or reach out easily to me via twitter:-
            <li>
                <a href="https://github.com/akeren/node-weather-website">Github</a>
            </li>
            <li>
                <a href="https://twitter.com/katerakeren">Twitter</a>
            </li>
        </p>
    </div>
    {{>_footer }}

    <script type="text/javascript" src="/js/app.js"></script>
</body>

</html>
