* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex-grow: 1;
}
header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  color: #01575c;
  font-size: 64px;
  margin-bottom: 16px;
}

.nav-links a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}
.me-img {
  width: 280px;
}

input {
  border: 1px solid #888888;
  padding: 8px;
}

button {
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #01575c;
  background: #01575c;
  padding: 8px;
}

footer {
  color: #888888;
  border-top: 1px solid #888888;
  margin-top: 16px;
  /* padding: 16px 0; */
}
